<ion-content>
    <div class="d-flex align-items-center justify-content-center h-100vh">
        <div>
            <h1 class="text-center text-primary">Ionic</h1>
            <h3 class="text-center text-danger" ng-if="!vm.connected">is not</h3>
            <h3 class="text-center text-success" ng-if="vm.connected">is</h3>
            <h3 class="text-center">Connected to</h3>
            <h1 class="text-center text-warning">Firebase</h1>
        </div>
    </div>

    <div>
        <button class="button button-dark" ng-click="vm.addItem()">Add Item</button>
    </div>

    <div class="card" ng-repeat="item in vm.object" ng-click="vm.updateItem(item)">
        <div class="item item-divider">
            {{item.Name | uppercase}}
        </div>
        <div class="item itex-text-wrap">
            {{item.Email}}
            <button class="button button-assertive" ng-click="vm.deleteItem(item)">Delete</button>
        </div>
        <div class="item item-divider">
            Conversations: {{ item.chats | length }}
        </div>
    </div>

    <div class="maps">
        <div id="map" data-tap-disabled="true"></div>
    </div>
</ion-content>